*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #7653f3;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.text{
    text-align: center;
}
h1{
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
    animation: age 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
    display: inline-block;     
}
@keyframes age {
    0% {
      transform: scale(0.6);
    }
    50%,
    100% {
      transform: scale(1);
    }
  }
h2{
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
    display: inline-block;
    margin-left: 15px;
    animation: bop 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
} 
@keyframes bop {
    0% {
      transform: scale(0.6);
    }
    80%,
    100% {
      transform: scale(1) rotateZ(-3deg);
    }
  } 
.card{
    height: 500px;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #6a4bdb, #7e59ff);
    box-shadow:37px 37px 75px #6447cf, 
             -37px -37px 75px #885fff;  
}
.card p{
    text-align: center;
    padding-top: 40px;
    color: white;
    font-family: Anton;
    font-size: 2rem;
}
.date{
    text-align: center;
    margin-top: 30px;
}
input[type="date"]{
    height: 50px;
    width: 400px;
    text-align: center;
    font-size: 25px;
    font-family: Anton;
    border-radius: 35px;
    border: none;
    box-shadow: 5px 5px 10px black;
    transition: .9s;
}
input[type="date"]:focus{
    outline: none;
    width: calc(400px + 50px);
}
.btn{
    margin-top: 20px;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 15px;
    font-family: Anton;
    border-radius: 35px;
    border: none;
    transition: .8s;
}
.btn:hover{
    cursor: pointer;
    color: cornsilk;
    background-color: blueviolet;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}
.btn:focus{
    outline: none;
}
.result{
    height: 200px;
    background-color: rebeccapurple;
    margin-top: 30px;
    width: 50%;
    margin-left: 25%;
    border-radius: 50px;
    -webkit-box-shadow: 5px 5px 15px 5px #6447cf; 
    box-shadow: 5px 5px 15px 5px #000000;
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 15px 0px;
    font-family: Anton;
}
.your_age{
    color: white;
    text-align: center;
    font-family: Anton;
    font-size: 2rem;
    animation: reveal 3000ms ease-in-out forwards 300ms,
               glow 2000ms linear infinite 2000ms;
}
@keyframes reveal {
    80%{
      letter-spacing: 5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
  
